*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  padding: 20px;
}
.cards-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.parent{
  padding: 30px;
  border: 1px solid white;
  width: 260px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius:30px;
  background-color: white;
  color: black;
}

.top{
  display: flex;
  justify-content: space-between;
}
.top img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgb(189, 186, 186);
  padding: 3px;
  background-color: white;
}
.top button{
  padding: 0px 10px;
  border-radius:10px;
  border: none;
}

.center h2{ 
  font-size:1.5rem;
}
.center h2 span{
  font-size: 0.8rem;
  color: gray;
  font-weight: bolder;
}
.center h1{
  font-size: 1.5rem;
}

.button{
  padding: 5px 0;
}
.button button{
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}




.bottom{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 10px 0;
}
.bottom h3{
  font-size: 18px;
}
.bottom h4{
  font-size: 10px;
  color: rgb(108, 106, 106);
}
.bottom button{
  padding: 5px 10px;
  background-color:black;
  color: white;
  border: none;
  border-radius: 10px;
}